---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404: Not Found">
  <main>
    <h1>Page Not Found</h1>
    <p>Sorry, we couldn't find the page you were looking for.</p>
    <a href="/">Go Home</a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 800px;
    text-align: center;
  }
</style> 