---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const pages = await getCollection('page');
const homepage = pages.find((page: CollectionEntry<'page'>) => page.id === 'home.mdx');
const { heading } = homepage?.data || { heading: 'Welcome to the Landing Page' };
---

<Layout title="Landing Page">
  <main>
    <h1>{heading}</h1>
  </main>
</Layout> 